Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -android-*,
  -readability-function-cognitive-complexity,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -misc-include-cleaner,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -readability-math-missing-parentheses,
  -hicpp-signed-bitwise,
  -readability-implicit-bool-conversion,

CheckOptions:
  readability-identifier-length.IgnoredVariableNames: "^to$"
  readability-identifier-length.IgnoredParameterNames: "^to$"
